{
    PORT = ''
    DATABASE =''
    BOT_TOKEN = ''
    TEST_CHANNEL_ID = ''
    REMINDERS_CHANNEL_ID = ''  // Channel ID to where the <pending unban appeals reminder> is send
    TWITCH_CLIENT_ID = ''
    CHANNEL_ANNOUNCEMENTS_ID = ''
    TWITCH_CLIENT_SECRET = ''
    TWITCH_SIGNIN_SECRET = ''
    BROADCASTER_ID = ''
    EMAIL_ADRESS = ''
    EMAIL_PASSWORD = ''
}