extends layout

block content
    d.header
        p Color List
    .container#dataDisplay
            each color, i in colors
                d.color-row
                    d.second-record(style={background: '#' + color.hex}) 
                    d.first-record #{color.name}
                    if user
                        d.edit-buttons
                            d.p-2
                                a.btn.btn-sm.btn-outline-warning(href='/colors/' +color._id, data-id=color._id) Info
                            d.p-2
                                a.btn.btn-sm.btn-outline-danger.delete-color(href='#', data-id=color._id) Delete