extends layout

block content
    d.header
        p Color List
    .container#dataDisplay
            each color, i in colors
                d.color-row
                    d.second-record(style={background: '#' + color.hex}) 
                    div.first-record #{color.name}
                    div.third-record.edit-buttons(style={color: '#' + color.hex}) hex: ##{color.hex}
                    if user
                        d.edit-buttons
                            d.p-2
                                a.btn.btn-sm.btn-outline-danger.delete-color(data-id=color._id) Delete