doctype html
html
    head
        title Sodapoppin
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src="https://kit.fontawesome.com/37ac22a12a.js" crossorigin="anonymous")
        script(src='https://www.google.com/recaptcha/api.js')
        script(src='/bower_components/jquery/dist/jquery.js')
    body
        nav.navbar.navbar-expand.navbar-dark.bg-dark.mb-2
            .container
                ul.navbar-nav.me-auto
                    a.navbar-brand#icon(href='/')
                        img(src='https://skippybot.me/icon')
                    li.nav-item.mt-2
                            a.nav-link(href='/') Colors
                    if user
                        if user.isDiscord || user.isAdmin
                            li.nav-item.mt-2
                                a.nav-link(href='/colors/add') Add Colors
                    if !user
                        //- li.nav-item.mt-2
                        //-     a.nav-link(href='/mod/apply') Apply for Mod
                        li.nav-item.mt-2
                            a.nav-link(href='/unban') Request Unban
                ul.nav.navbar-nav.nav-right
                    if user
                        li.nav-item
                            a.nav-link(href='/unban/view/u/1') Ban Appeals
                        li.nav-item
                            a.nav-link(href='/announcer') Announcements
                        if user.isAdmin
                            li.nav-item
                                a.nav-link(href='/users/register') Register
                        li.nav-item
                            a.nav-link(href='/users/logout') Logout
                    else
                        li.nav-item
                            a.nav-link(href='/users/Login') Login
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer#footer.navbar.fixed-bottom
                p Made with <span> &#10084; </span> by apeK
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')