extends layout

block content
    d.d-flex.flex-column.justify-content-center.align-items-center
    h1.text-center Login
        form(method='POST', action='/users/login')
            div.form-container
                div.form-field
                    input.transparent-input.form-control.form-control-md.mt-2.w-50(name='username', type='text', placeholder='Username')
                div.form-field
                    input.transparent-input.form-control.form-control-md.mt-2.w-50(name='password', type='password', placeholder= 'Password')
                div.text-center
                    input.btn.btn-primary.mt-2(type='submit', value='Submit')