extends layout

block content
    d.header
        p Mod applications
    div.filter-section.d-flex.justify-content-center.mt-3.mb-3
        div.p2
            a.btn.btn-sm.btn-outline-warning(href='/mod/view/u', data-toggle="button") Unresolved
        div.p2.ms-3
            a.btn.btn-sm.btn-outline-danger(href='/mod/view/d', data-toggle="button") Denied
        div.p2.ms-3
            a.btn.btn-sm.btn-outline-success(href='/mod/view/a', data-toggle="button") Accepted
    .container#dataDisplay(class="border-"+resolution)
            if empty
                div.empty-message.p-2 Nothing to display
            else
                each modApplication, i in modApplications
                    div.color-row
                        div.d-flex.align-items-center.ms-3.text-question #{modApplication.discordTag}
                        div.p-2.edit-buttons
                            a.btn.btn-sm.btn-outline-warning(href='/mod/application/' + modApplication._id, data-id=modApplication._id) Open