extends layout

block content
    h1.text-center Apply for mod
    form(method='POST', action='/mod/apply')
        div.form-container
            div.form-field
                input.transparent-input.form-control.form-control-md.mt-2.w-50(name='discordTag', type='text', placeholder='Discord Tag', id='discordTag')
            div.form-field
                textarea.textContainer.transparent-input.form-control.form-control-md.mt-2.w-50(name='textContent', type='text', placeholder='Tell us why you want to be mod and what you’d bring to the community', id='textContent')
            div.form-field
                textarea.textContainer.transparent-input.form-control.form-control-md.mt-2.w-50(name='howLong', type='text', placeholder='How long have you been in the discord?', id='howLong')
            div.form-field
                textarea.textContainer.transparent-input.form-control.form-control-md.mt-2.w-50(name='experience', type='text', placeholder='Do you have any experience modding in general ( twitch chat, discord servers, etc) If so feel free to provide proof', id='experience')
            div.form-field
                textarea.textContainer.transparent-input.form-control.form-control-md.mt-2.w-50(name='improvement', type='text', placeholder='Tell us something you’d do to better the discord server/help out or even entertain the community', id='improvement')
            div.form-field
                p !{captcha}
            div.text-center
                input.btn.btn-outline-success.mt-2(type='Submit', value='Submit')