extends layout

block content
    h1.text-center Register
    form(method='POST', action='/users/register')
        div.form-container
            div.form-field
                input.transparent-input.form-control.form-control-md.mt-2.w-50(name='username', type='text', placeholder='Username')
            div.form-field
                input.transparent-input.form-control.form-control-md.mt-2.w-50(name='email', type='text', placeholder='Email')
            div.form-field.mt-2
                p.mt-2.text-question
                    |User type
                select.form-select.transparent-input.form-control.form-control-md.mt-2.w-50(name='userType')
                    option(value='1') Discord Mod
                    option(value='2') Twitch Mod
                    option(value='3') Twitch & Discord Mod
            div.text-center
                input.btn.btn-outline-success.mt-2(type='submit', value='Submit')