extends layout

block content
    d.header
        p Ban Appeals
    div.filter-section.d-flex.justify-content-center.mt-3.mb-3
        div.p2
            a.btn.btn-sm.btn-outline-warning(href='/unban/view/u', data-toggle="button") Unresolved
        div.p2.ms-3
            a.btn.btn-sm.btn-outline-danger(href='/unban/view/d', data-toggle="button") Denied
        div.p2.ms-3
            a.btn.btn-sm.btn-outline-success(href='/unban/view/a', data-toggle="button") Accepted
    .container#dataDisplay(class="border-"+resolution)
            if empty
                div.empty-message.p-2 Nothing to display
            else
                each unbanApplication, i in unbanApplications
                    div.color-row
                        div.d-flex.align-items-center.ms-3.text-question #{unbanApplication.userName}
                            case unbanApplication.isDiscord
                                    when true
                                        i.fa-brands.fa-discord
                                    when false
                                        i.fa-brands.fa-twitch
                        div.d-flex.align-items-end.flex-row.mb-2
                            i.fa-solid.fa-thumbs-up.text-success.d-flex.align-items-center.mt-auto
                                p.mb-0.font-weight-light.ms-1 #{unbanApplication.upvotes.length}
                            i.fa-solid.fa-thumbs-down.text-danger.d-flex.align-items-center.mt-auto.ms-2
                                p.mb-0.font-weight-light.ms-1 #{unbanApplication.downvotes.length}
                        div.p-2.edit-buttons
                            a.btn.btn-sm.btn-outline-warning(href='/unban/application/' + unbanApplication._id, data-id=unbanApplication._id) Open